<!-- HEADER_COMMENT_AUTOGEN -->
<!-- FILE: app\templates\index.html -->
<!-- PURPOSE: Brief description of this template and common edit points. -->

{% extends 'base.html' %}

{% block content %}
    <div class="home-div">
        <img src="{{ url_for('static', filename='images/home.jpg') }}" class="home-img">
        <div class="info-div">
            {% if current_user.is_authenticated %}
                <h1>Welcome {{ current_user.username.capitalize() }}, </h1>
            {% else %}
                <h1>Sign In, Guest </h1>
            {% endif %}
            <h4> Explore the Test Preparation 
                exclusively made for you!
            </h4>
            <a href="{{ url_for('quiz.select') }}">Take the test</a>
        </div>
    </div>
{% endblock %}